$blue: #228be6;
.App {
  text-align: center;
  width: 512px;
  margin: 0 auto;
  margin-top: 4rem;
  border: 1px solid black;
  padding: 1rem;
}
.Login{

  text-align: center;
}
.logintop{
  color: crimson;
  margin-bottom: 10rem;
}
.password{
  margin-top: 10px;
  margin-right: 3.3rem;
}
.input{
  text-align: center;
}
.list{
  text-align: center;
}
.select{
  text-align: center;
}
.phonebook{

  text-align: center;
  margin-top: 10rem;
}