.container {
  display: flex;
  align-items: center;
}

.borderLeft {
  border-bottom: 2px solid #000000;
  width: 50%
}

.borderRight {
  border-bottom: 2px solid #000000;
  width: 50%
}

.content {
  width: auto;
  padding: 4px;
  font-weight: 500;
  font-size: 22px;
  color: lightgray;
}